body{
    background:antiquewhite;
}
.navbar{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-around;
    padding-bottom:.7em;
    color: aliceblue;
}
.navbar-right>.btn{
    margin-right: .2em;
}
.landingH1{
    margin-top: 3%;
    font-family: monospace;
    font-weight: 700;
}
.landingDescription{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.3em;
    font-style: oblique;
}
.authForm{
    width: inherit;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    margin: auto 4em;
    padding: auto;
}
#newTask, #item{
    display: flex;
    flex-flow: row wrap;
    margin: 2em auto;
    width: 80vw;
    height: auto;
    align-items: baseline;
    justify-content: space-evenly;
    border-radius: 5px;
    border-color: aquamarine;
    background-color: aquamarine;
    padding: .3em;
}
#newTask > input,#newTask > span> input{
    border-radius: 5px;
    border-color: chartreuse;
    border-width: 3px;
    background-color: aquamarine;
    color: brown;
    font-weight: 600;
}
#deadlineDate{
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#deadlineTime{
    border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#status{
    -ms-transform: scale(1.5); /* IE */
    -moz-transform: scale(1.5); /* FF */
    -webkit-transform: scale(1.5); /* Safari and Chrome */
    -o-transform: scale(1.5); /* Opera */
    transform: scale(1.5);
    padding: .8em;
}